.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgb(40, 40, 40);
  height: 80px;
  z-index: 2;
}

@media screen and (max-width: 500px) {
  .footer {
    height: 110px;
  }
}