.browse-headers {
  display: flex;
}

.browse-headers p {
  color: rgb(179, 179, 179);
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Proxima Thin", Georgia, sans-serif;
  letter-spacing: 1px;
  margin: 0 20px;
  cursor: pointer;
}

.browse-headers p:first-child {
  margin: 0 20px 0 0;
}

.browse-headers p:hover {
  color: #fff;
}

.playlist-image {
  width: 230px;
}

.playlist-title-container {
  display: flex;
}

.playlist-info-container {
  padding-left: 20px;
  position: relative;
  top: 15px;
}

.created-by,
.playlist-desc {
  font-family: "Proxima Thin", Georgia, sans-serif;
  font-size: 13px;
  color: #aaa;
  padding: 8px 0;
}

.lighter-text {
  font-family: "Proxima Nova", Georgia, sans-serif;
  color: #fff;
}

.playlist-text,
.following-text {
  font-family: "Proxima Thin", Georgia, sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}

.following-text {
  margin: 10px;
}

.header-title {
  font-size: 48px;
  padding: 3px 0 5px 0;
}

.browse-headers .active {
  position: relative;
}

.browse-headers .active:after {
  content: "";
  position: absolute;
  width: 35px;
  left: 50%;
  top: 22px;
  border-bottom: 2px solid #1db954;
  transform: translate(-50%, -50%);
}

.current-artist-header-container,
.current-album-header-container {
  display: flex;
}

.current-artist-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.current-album-image {
  width: 180px;
  height: 180px;
}

.current-artist-info,
.current-album-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.current-artist-info p,
.current-album-info p {
  text-transform: uppercase;
  font-family: "Proxima Thin", Georgia, sans-serif;
  font-size: 13px;
}

.artist-button,
.album-button {
  margin-top: 20px;
  margin-left: 40px;
}

.follow-btn {
  margin: 10px;
  background: #1db954;
  font-family: "Proxima Nova", Georgia, sans-serif;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}


@media screen and (max-width: 500px) {
  .current-artist-header-container,
  .current-album-header-container,
  .playlist-title-container {
    flex-direction: column;
  }

  .current-artist-info,
  .current-album-info {
    margin-top: 10px;
    padding-left: 0px;
  }
}